<!-- <app-data-binding></app-data-binding>
<hr />
<app-event-binding></app-event-binding>
<hr />
<app-two-way-data-binding></app-two-way-data-binding>
<hr />
<app-live-clycle [initValue]="numberValue"></app-live-clycle>
<button (click)="changeNumberValue()" mat-raised-button color="primary">Primary</button>
<hr />
<app-directive-ng-class></app-directive-ng-class>
<hr />
<app-directive-ng-style></app-directive-ng-style>
<hr />
<app-exemple-ng-content>
  <div class="title">Shiba Inu</div>
  <p class="content">
    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.
  </p>
  <p class="content">
    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
  </p>
</app-exemple-ng-content>
<hr /> -->
<app-custom-directives></app-custom-directives>
